html{
min-height: 100%;
background-color:#ffffff;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index:-1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
  
}

.site-wrapper-inner{
	background-image: url("../images/background2.jpg");


	}




.jumbotron{
background-color:#ffffff;
    
}


.navbar{
background-color: black;
height:56px;
width:100%;
margin: 0 auto;
list-style: none;
display: inline-block;
position: relative;
}

.navbar-collapse{
background-color: black;
height: 11%;
}

.navbar-header{
height: 56px;
margin:  auto 0;
max-width:960px;
display:inline-block;
float:none;
border-left: 5px solid white;
border-right: 5px solid white;
padding-right:72px;
position:fixed;
}

.navbar-header ul{
list-style: none;
margin: 0 auto;
padding: 0;
max-width:960px;
}




.container{
width:960px;

}

.navbar-brand{
background-color: black;
height: 11%;
}


body{
width:100%;
}


#navbar{
border: 0px;


}

.navbar-toggle{

}


.col{

margin-bottom: 30px;

}

.col-md-6{

max-height:100%;
max-width:100%;

}

.form-group{

margin-top:10%;
position:relative;
}

.map-container{
width:100%;

}

.search{
	margin-top:60px;
	}

.navbar-collapse{
height:11%;
margin-top:4%;
border: 0px;
}


.btn-success{

margin-top:3%

}

.btn-success1{

margin-top:-17%

}

.navbar-collapse{
height:100px;
margin-top:-5%;
    margin-left: 30%;
}

#home{
margin-left:60px;
margin-top:16px;
    float:left;
}

#portfolio{
margin-top:16px;
margin-left:250px;
}

#logo{
margin-left:444px;
width: 72px;
height:26px;
margin-top: -21px;
position:relative;
}



#about{
margin-left: 595px;
margin-top: -20px;
width:66px;    
}

#contact{
margin-left: 758px;
margin-top: -18px;
width:87px
}





.form-group{
height:10px;
float: right;
width: 0 auto;
margin-top:auto
}



a{
color:black;

}
href{
color:#04456b;

}


p{
color:black;
}

h2{
color:#04456b;	
}

h3{
color:black;
}

.carousel{
margin: auto 0-;
height: auto;
width:100%;
    
}

.row{
	
	padding-top:20px;
}

.upcoming{
background-color: black;
    height:20%;
}

.container1{
margin-top:200px;
}

.pull-left{
float:left;
}